.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
  background-image: url("/dangerketchup/chilli.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: -100;
  overflow:hidden;
}
.cover {
  position: absolute;
  width:100%;
  height:100%;
  backdrop-filter: grayscale(30%) blur(5px);
  z-index: 0;
}
.main {
  z-index: 1;

}
.title {
  color: white;
  font-family: 'Knewave', cursive;
  font-size: 60px;
  margin-bottom:0.24em;
  text-align:center;

}

.brandsBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px;
}

.brandIcon {
  width: 50px;
  height: 50px;
}
.logo {
  max-width: 100%;
}
